* {
  margin: 0;
  padding: 0;
}

html {
  background-color: hsl(48, 100%, 67%);
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 70%;
  margin-top: 1em;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  border-radius: 50%;
  border: 1px solid transparent;
  padding: 2px;
  background-color: #2f4f4f;
  box-shadow: 0 6px 6px 0px #9d8205;
}

.banner {
  flex-direction: column;
  align-items: flex-start;
}

#timer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2em;
  color: #436060;
}

#timer-icons span {
  cursor: pointer;
  transition: 0.2s linear;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content .field {
  width: 80%;
}

#contenders-modal .col-1 figure {
  float: left;
}

#contenders-modal .col-1 .contender-details {
  position: relative;
  left: 5px;
}

#contenders-modal tr {
  cursor: pointer;
}

nav,
.footer {
  padding: 0 2em;
  width: 100%;
}

nav {
  margin-top: 1em;
  margin-bottom: 0 !important;
}

.footer .content {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: #f5f5f5;
}

.footer .content p {
  margin: 0;
}

.tag {
  transform: rotate(25deg) translate(50px, 0px);
  box-shadow: 0px 2px 4px #ccc;
}

@media (min-width: 768px) {
  .modal-content .field {
    width: 50%;
  }
  img {
    height: 200px;
    width: 200px;
  }
  .money {
    font-size: 1.5em;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  img {
    height: 150px;
    width: 150px;
  }
  .banner {
    align-items: center;
  }
}
